<md-tab-group class="card">
  <md-tab>
    <ng-template md-tab-label>
        General
    </ng-template>
    <t-general></t-general>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
        Clips
    </ng-template>
    <t-clips></t-clips>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
        Segments
    </ng-template>
    <t-segments></t-segments>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
        Images
    </ng-template>
    <t-images></t-images>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
        Attachments
    </ng-template>
    <t-attachments></t-attachments>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
        Tech Attributes
    </ng-template>
    <t-techAttr></t-techAttr>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
        History
    </ng-template>
    <t-history></t-history>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
        Notes
    </ng-template>
    <t-notes></t-notes>
  </md-tab>
</md-tab-group>
