<mat-tab-group class="card">
  <mat-tab>
    <ng-template mat-tab-label>
        General
    </ng-template>
    <t-general></t-general>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Clips
    </ng-template>
    <t-clips></t-clips>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Segments
    </ng-template>
    <t-segments></t-segments>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Images
    </ng-template>
    <t-images></t-images>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Attachments
    </ng-template>
    <t-attachments></t-attachments>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Tech Attributes
    </ng-template>
    <t-techAttr></t-techAttr>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        History
    </ng-template>
    <t-history></t-history>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Notes
    </ng-template>
    <t-notes></t-notes>
  </mat-tab>
</mat-tab-group>
