<div class="table-container">
  <ngx-datatable class="material" [rows]="rows" columnMode="force" [headerHeight]="40" [rowHeight]="40" [scrollbarV]="true"
    [scrollbarH]="true">
    <!--(toggle)="onDetailToggle($event)"-->

    <ngx-datatable-column prop="Start Channel">
      <ng-template name="startchannel" let-row="row" ngx-datatable-cell-template>
        {{row.startchannel}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Layout">
      <ng-template name="layout" let-row="row" ngx-datatable-cell-template>
        {{row.layout}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Language">
      <ng-template name="language" let-row="row" ngx-datatable-cell-template> 
        {{row.language}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Censored">
      <ng-template name="censored" let-row="row"> 
        {{row.censored}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Dubbed">
      <ng-template name="dubbed" let-row="row">
        {{row.dubbed}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Music">
      <ng-template name="music" let-row="row" ngx-datatable-cell-template>
        {{row.music}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Effects">
      <ng-template name="effects" let-row="row" ngx-datatable-cell-template>
        {{row.effects}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="DVS">
      <ng-template name="dvs" let-row="row" ngx-datatable-cell-template> 
        {{row.dvs}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Contains Dialog">
      <ng-template name="containsdialog" let-row="row"> 
        {{row.containsdialog}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="MOS">
      <ng-template name="mos" let-row="row">
        {{row.mos}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Active">
      <ng-template name="active" let-row="row">
        {{row.active}}
        </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>