<ul class="action__list pull-right ui-helper-reset ui-helper-clearfix">
  <li class="pull-left"><a href="javascript:;" class="action-btn action__collection"><i class="fa fa-archive"></i></a></li>
  <li class="pull-left"><a href="javascript:;" class="action-btn action__cart"><i class="fa fa-shopping-cart"></i></a></li>
  <li class="pull-left"><a href="javascript:;" class="action-btn action__workorder"><i class="fa fa-rocket"></i></a></li>
  <li class="pull-left"><a href="javascript:;" class="action-btn action__delete"><i class="fa fa-times"></i></a></li>
</ul>