<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-inputgroup field__single">
      <label class="field__label">Origin</label>
      <span class="field__value" [hidden]="toggle">Original</span>
      <input *ngIf="toggle" class="field__value--editable" type="text" matInput placeholder="Original">
    </div>
  </div>

</div>

<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-inputgroup field__single">
      <label class="field__label">Rights & Clearances</label>
     <span class="field__value" > <i class="fa fa-remove"> </i> </span>
    </div>
  </div>
</div>



<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-inputgroup field__single">
      <label class="field__label">Project/Program</label>
      <span class="field__value" [hidden]="toggle">None</span>
      <input *ngIf="toggle" class="field__value--editable" type="text" matInput placeholder="None">
    </div>
  </div>

</div>



<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-inputgroup field__single">
      <label class="field__label">Submitted By</label>
      <span class="field__value" [hidden]="toggle">None</span>
      <input *ngIf="toggle" class="field__value--editable" type="text" matInput placeholder="None">
    </div>
  </div>

</div>
