<div class="table-container">
  <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="40"  [rowHeight]="getRowHeight" [scrollbarV]="true"
    [scrollbarH]="true">
    <!--(toggle)="onDetailToggle($event)"-->

    <ngx-datatable-column prop="DSID">
      <ng-template name="dsid" let-row="row" ngx-datatable-cell-template>
         <span [hidden]=toggle>{{row.dsid}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Episode #">
      <ng-template name="episode" let-row="row" ngx-datatable-cell-template>
       <span [hidden]=toggle> {{row.episode}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Title">
      <ng-template name="title" let-row="row" ngx-datatable-cell-template> 
        <span [hidden]=toggle>{{row.title}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Description">
      <ng-template name="desc" let-row="row" ngx-datatable-cell-template> 
        <span [hidden]=toggle>{{row.desc}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Program Name">
      <ng-template name="programname" let-row="row" ngx-datatable-cell-template>
        <span [hidden]=toggle>{{row.programname}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Run Time">
      <ng-template name="runtime" let-row="row" ngx-datatable-cell-template>
        <span [hidden]=toggle>{{row.runtime}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="CC">
      <ng-template name="cc" let-row="row" ngx-datatable-cell-template>
       <i class="fa fa-remove"></i>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>