<div class="vms-window__overflow">
  
  <div class="ui-g">
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Barcode</label>
              <span class="field__value" [hidden]=false>87340822</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="87340822">
          </div>
      </div>
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Parent Barcode</label>
              <span class="field__value" [hidden]=false>87340822</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="87340822">
          </div>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-12">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Rendition</label>
              <span class="field__value" [hidden]=false>Archive Master</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="Archive Master">
          </div>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-12">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Filename</label>
              <span class="field__value" [hidden]=false>HDMBCAF6071P1P_E1T1.mxf</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="HDMBCAF6071P1P_E1T1.mxf">
          </div>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Format</label>
              <span class="field__value" [hidden]=false>BS</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="BS">
          </div>
      </div>
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">MD5</label>
              <span class="field__value" [hidden]=false>8f193ffce166b97cedad8253810af969</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="8f193ffce166b97cedad8253810af969">
          </div>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Standard</label>
              <span class="field__value" [hidden]=false>NTSC</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="NTSC">
          </div>
      </div>
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Ingest Date</label>
              <span class="field__value" [hidden]=false>05/05/2017 3:49:18 PM</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="05/05/2017 3:49:18 PM">
          </div>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Active</label>
              <!-- <p-inputSwitch class="field__value" onLabel="on" offLabel="off"></p-inputSwitch> -->
          </div>
      </div>
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Frame Rate</label>
              <span class="field__value" [hidden]=false>29.97</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="29.97">
          </div>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Encoding Status</label>
              <span class="field__value" [hidden]=false>Not Encoded</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="Not Encoded">
          </div>
      </div>
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Status</label>
              <span class="field__value" [hidden]=false>IN</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="IN">
          </div>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Home Library</label>
              <span class="field__value" [hidden]=false>Iron Mountain NJ</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="Iron Mountain NJ">
          </div>
      </div>
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Location</label>
              <span class="field__value" [hidden]=false>None</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="None">
          </div>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-12">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Shelf</label>
              <span class="field__value" [hidden]=false>Archive Master</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="Archive Master">
          </div>
      </div>
  </div>

  <div class="ui-g">
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Request #</label>
              <span class="field__value" [hidden]=false>None</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="None">
          </div>
      </div>
      <div class="ui-g-6">
          <div class="ui-inputgroup field__single">
              <label class="field__label">Ship Ticket #</label>
              <span class="field__value" [hidden]=false>None</span>
              <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="None">
          </div>
      </div>
  </div>

</div>
