<div>

  <ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'" 
  [headerHeight]="50" [footerHeight]="50">
   
  <ngx-datatable-row-detail #myDetailRow (toggle)="onDetailToggle($event)">
  <ng-template name="submittedon" let-row="row">
    <span class="date">{{ row.submittedon.date }}</span>
    <span class="time">{{ row.submittedon.time }}</span>
  </ng-template>
  <ng-template name="workorder" let-row="row">
    <a class="vms-link" href="javascript:;">{{row.workorder}}</a>
  </ng-template>
  <ng-template name="status" let-row="row">
    <span class="vms-status {{element.status.toLowerCase()}}">{{ row.status }}</span>
  </ng-template>
  <ng-template name="submittedby" let-row="row"> {{row.submittedby}}</ng-template>
  <ng-template name="workflow" let-row="row"> {{row.workflow}}</ng-template>
  <ng-template name="task" let-row="row">{{row.task}}</ng-template>
  </ngx-datatable-row-detail>
  </ngx-datatable>
</div>
