<mat-accordion>
    <mat-expansion-panel >
        <mat-expansion-panel-header >
            <mat-panel-title>
                Content
               
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="vms-accordion__body clearfix">  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </div>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header >
            <mat-panel-title>
               Technical
               
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="vms-accordion__body clearfix">  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </div>

    </mat-expansion-panel>
   <mat-expansion-panel >
        <mat-expansion-panel-header >
            <mat-panel-title>
               Audio
               
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="vms-accordion__body clearfix">  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it </div>

    </mat-expansion-panel> 
</mat-accordion>