<mat-tab-group class="card" #myTabGroup>
  <mat-tab>
    <ng-template mat-tab-label>
      General
    </ng-template>
    <perfect-scrollbar class="container">
      <t-general [edit]="editMode"></t-general>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Clips
    </ng-template>
    <perfect-scrollbar class="container">
      <t-clips [edit]="editMode"></t-clips>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Images
    </ng-template>
    <perfect-scrollbar class="container">
      <t-images [edit]="editMode"></t-images>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab mat-no-pagination="true">
    <ng-template mat-tab-label>
      Attachments
      <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-sort-desc" aria-hidden="true"></i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Add</button>
        
      </mat-menu>
    </ng-template>
    
      <t-attachments [edit]="editMode"></t-attachments>
    
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Tech Attributes
      <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-sort-desc" aria-hidden="true"></i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Add</button>        
      </mat-menu>
    </ng-template>
   
      <t-techAttr [edit]="editMode"></t-techAttr>
   
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Audio Programs
    </ng-template>
    
      <app-audio-program [edit]="editMode"></app-audio-program>
   
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      History
    </ng-template>
    
      <t-history [edit]="editMode"></t-history>
    
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Notes
    </ng-template>
    <perfect-scrollbar class="container">
      <t-notes [edit]="editMode"></t-notes>
    </perfect-scrollbar>
  </mat-tab>
</mat-tab-group>