/*data table related changes*/
.ngx-datatable{
    height:309px;
}
.material-details .ngx-datatable{
    height:160px;
}
.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
	background-color: #dee3ea;
    border-width: 0!important;
    color: #132841;
    font-size: 14px!important;
    padding: 12px 8px;
    text-align: left;
    font-weight: 500!important;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    
    padding: 8px;
    vertical-align: middle;
    color:#132841;
    white-space:initial!important;
    line-height: 16px;
    
}
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover {
    border: 1px solid #1bbae1;
    background: #fff;
}