<mat-tab-group class="card">
  <mat-tab>
    <ng-template mat-tab-label>
        General
    </ng-template>
    <perfect-scrollbar class="container" >  
    <t-general></t-general>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Clips
    </ng-template>
    <perfect-scrollbar class="container" >  
    <t-clips></t-clips>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Segments
    </ng-template>
    <perfect-scrollbar class="container" >  
    <t-segments></t-segments>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Images
    </ng-template>
    <perfect-scrollbar class="container" >  
    <t-images></t-images>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Attachments
    </ng-template>
    <perfect-scrollbar class="container" >  
    <t-attachments></t-attachments>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Tech Attributes
    </ng-template>
    <perfect-scrollbar class="container" >  
    <t-techAttr></t-techAttr>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        History
    </ng-template>
    <perfect-scrollbar class="container" >  
    <t-history></t-history>
    </perfect-scrollbar>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
        Notes
    </ng-template>
    <perfect-scrollbar class="container" >  
    <t-notes></t-notes>
    </perfect-scrollbar>
  </mat-tab>
</mat-tab-group>
