<div class="panel">
     
    <div class="panel__header">
        Material Details
        <ul class="action__list pull-right ui-helper-reset ui-helper-clearfix">
  
            <li class="pull-left"><a class="action-btn action__collection"  href="javascript:;"><i class="fa fa-archive"></i></a></li>             
            <li class="pull-left"><a class="action-btn action__cart" href="javascript:;"><i class="fa fa-shopping-cart"></i></a></li>
            <li class="pull-left"><a class="action-btn action__workorder" href="javascript:;"><i class="fa fa-rocket"></i></a></li>
            <li class="pull-left"><a class="action-btn action__share" href="javascript:;"><i class="fa fa-share-alt"></i></a></li>
            <li class="pull-left"><a class="action-btn action__download" href="javascript:;"><i class="fa fa-download"></i></a></li>
            <li class="pull-left"><a class="action-btn action__logger" href="javascript:;"><i class="fa fa-play"></i></a></li>
            <li class="pull-left"><a class="action-btn action__collpaseL" href="javascript:;" (click)="onClick()"><i class="fa fa-angle-left"></i></a></li>
        </ul>
       
    </div>
    <div class="panel__body">
        
            <div class="tree">
                <perfect-scrollbar class="container" >  
                <tree-root #tree [nodes]="nodes" [options]="options" class="material-p-tree h-full-height">

                    <ng-template #treeNodeTemplate let-node="node" let-index="index">
                        <mat-checkbox (change)="check(node, !node.data.checked)" [indeterminate]="node.data.indeterminate" [checked]="node.data.checked"></mat-checkbox>
                        <div class="mat-tree-options">
                            <span class="material-type">{{node.data.name}}</span>
                            <span class="material-file">{{node.data.name2}}</span>
                            <div class="clearfix"></div>
                        </div>

                    </ng-template>
                </tree-root>
                </perfect-scrollbar>
            </div>
            
    </div>
   
</div>