<div class="clearfix">
  <div class="ui-inputgroup field__single field__page-title clearfix pull-left">
    <label class="field__label">Title</label>
    <span class="field__value" [hidden]=false>HD Catfish S.4 #4HDSpe Catfish special: Nev and Max's 15 Craziest Catfish Moments Ever</span>
    <input class="field__value--editable" type="text" [hidden]=true pInputText placeholder="HD Catfish S.4 #4HDSpe Catfish special: Nev and Max's 15 Craziest Catfish Moments Ever">
  </div>
  <button (click)="toggleEdit($event)" class="pull-right vms-icon-button" mat-button> <i class="fa fa-pencil"></i> Edit </button>
</div>