<div class="clearfix">
  <div class="ui-inputgroup field__single field__page-title clearfix pull-left">
    <label class="field__label">Title</label>
    <span class="field__value" [hidden]=toggle>HD Catfish S.4 #4HDSpe Catfish special: Nev and Max's 15 Craziest Catfish Moments Ever</span>
    <input *ngIf="toggle" class="field__value--editable" type="text" matInput placeholder="HD Catfish S.4 #4HDSpe Catfish special: Nev and Max's 15 Craziest Catfish Moments Ever">
  </div>
  <button (click)="toggleEdit($event)" *ngIf="!toggle" class="pull-right vms-icon-button" mat-button> <i class="fa fa-pencil"></i> Edit </button>
  <div *ngIf="toggle" class="pull-right">
  <button (click)="toggleEdit($event)" class="cancel-btn" mat-button> <i class="fa fa-remove"></i> Cancel </button>
  <button  (click)="toggleEdit($event)" class="save-btn" mat-button> <i class="fa fa-check"></i>  Save </button>
 </div>
</div>