<vertical-split-pane class="h-full-height" primary-component-minsize="480" secondary-component-minsize="window.screen.width - 480 - 48" primary-component-initialratio="640/window.screen.width" separator-thickness="16">
      <div class="split-pane-content-primary h-full-height"> 
        <content-video></content-video>
      </div>
      <div class="split-pane-content-secondary h-full-height"> 
        <content-tabs class="h-full-height h-component-gap"></content-tabs>
      </div>
    </vertical-split-pane>