<div class="table-container">
  <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="40" (page)="onPage($event)" [rowHeight]="getRowHeight" [scrollbarV]="true"
    [scrollbarH]="true">
    <!--(toggle)="onDetailToggle($event)"-->

    <ngx-datatable-column prop="Reel #">
      <ng-template name="reel" let-row="row" ngx-datatable-cell-template>
         <span [hidden]=toggle>{{row.reel}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Cut Position">
      <ng-template name="cutposition" let-row="row" ngx-datatable-cell-template>
       <span [hidden]=toggle> {{row.cutposition}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Seq #">
      <ng-template name="seq" let-row="row" ngx-datatable-cell-template> 
        <span [hidden]=toggle>{{row.seq}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Program Name">
       <ng-template name="programname" let-row="row" ngx-datatable-cell-template>
        <span [hidden]=toggle>{{row.programname}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Title">
      <ng-template name="title" let-row="row" ngx-datatable-cell-template> 
        <span [hidden]=toggle>{{row.title}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Description">
      <ng-template name="desc" let-row="row" ngx-datatable-cell-template>
        <span [hidden]=toggle>{{row.desc}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Run Time">
      <ng-template name="runtime" let-row="row" ngx-datatable-cell-template>
        <span [hidden]=toggle>{{row.runtime}}</span>
         <input *ngIf="toggle" class="field__value--editable" type="text" [value]="value" matInput/>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="CC">
      <ng-template name="cc" let-row="row" ngx-datatable-cell-template>
       <i class="fa fa-remove"></i>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>