/* You can add global styles to this file, and also import other style files */
/* --> Helper Clasess are prefixed by 'h-' */
html {
	font-family: 'Roboto', sans-serif;
	background-color: #EAEDF1;
	overflow: hidden;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
	clear: both;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, app-root, .h-full-height {
	position: relative;
	display: block;
	height: 100%;
}
.h-preview__thumbnail {
	display: block;
	width: 100px;
	height: 57px;
	border: 1px solid grey;
	border-radius: 3px;
}
.h-preview__thumbnail img {
	width: 100%;
	height: 100%;
	display: block;
}
content-view {
	display: block;
	height: 100%;
	padding: 8px 16px;
}
/* <-- EndOf Helper Classes */
/* --> Splitter changes */
.h-outer {
	height: calc(100% - 36px);
}
material-details > horizontal-split-pane {
	padding: 16px;
}
horizontal-split-separator, .v-outer vertical-split-separator {
	background-color: rgba(0, 0, 0, 0)!important;
	border-left: none;
	cursor: ew-resize;
	position: relative;
}
horizontal-split-separator .handle, .v-outer vertical-split-separator .handle {
	width: 4px!important;
	height: 35px!important;
	background-color: rgba(90,107,130,.3)!important;
	position: absolute;
	top: calc(50% - 18px);
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 5px;
}
.h-outer horizontal-split-separator:hover, .v-outer vertical-split-separator:hover {
    background-color: rgb(225, 229, 234);
}
.h-outer horizontal-split-separator {
    cursor: ns-resize;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.h-outer horizontal-split-separator .handle {
    transform: rotate(90deg);
}
/* <-- endOf Splitter changes */
/* --> Card Title */
.card {
	border: 1px solid #D2DCE6;
}
.card-title {
	margin: 0;
	border-bottom: 1px solid #D2DCE6;
	background-color: #F9FAFC;
	color: #333A44;
	font-size: 16px;
	font-weight: 500;
	padding: 14px 16px;
	line-height: 1.2;
	letter-spacing: .2px;
}
.card-body {
	height: calc(100% - 48px);
}
/* <-- endOf Card Title */

/* --> Form Controls */
.field__label {
	opacity: 0.7;
	color: #333A44;
	font-size: 14px;
	line-height: 2;
	text-align: right;
	min-width: 140px;
	padding-right: 8px;
}
.time-based__data .field__label {
	min-width: 75px;
}
.field__value {
	color: #333A44;
	font-size: 14px;
	line-height: 2;
	padding-left: 8px;
	word-break: break-all;
}

input.field__value--editable, textarea.field__value--editable {
	border: 1px solid #D2DCE6;
	border-radius: 2px;
	padding: 4px 8px;
	margin-top: 0;
	font-size: 14px;
	color: #333A44;
	resize: none;
	width:100%;
	height:30px;
}
.cancel-btn {
	color: #616C7D!important;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px!important;
	border: 1px solid #E74C3C!important;
	border-radius: 3px!important;
	padding: 6px 16px!important;
	margin-right: 8px!important;
}
.save-btn {
	border: 1px solid #7CB77B!important;
	border-radius: 3px!important;
	background-color: #7CB77B!important;
	color: #FFFFFF!important;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px!important;
	padding: 6px 16px!important;
}
.cancel-btn i, .save-btn i{
	line-height:16px;
	font-size:15px;
	margin-right: 4px;
}
/* <-- EndOf Form Controls */
/* --> Form Controls */

/* <-- endOf Form Controls */
/* General */
material-general {
	display: block;
	padding-top: 4px;
	background: #fff;
	height: 100%;
}
.vms-window__overflow {
	overflow: auto;
	height: 100%;
}
/* endOf General */
.clip-count {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 18px;
	right: 12px;
}
.count {
	opacity: .5;
}
/* --> Notes  */
material-notes .vms-accordion__body {
	padding: 10px 16px 12px;
	border-bottom: 1px solid #d0dce6;
}
.vms-list li {
	list-style-type: none;
}
.data__item {
	border-top: 1px solid #d1dce6;
	position: relative;
}
.data__item:first-child {
	border-top: none;
}
.data__item:last-child {
	border-bottom: 1px solid #d1dce6;
}
material-notes .vms-accordion {
	height: 100%;
}
/* <-- endOf Notes */
/* --> Action bar */
.action__list {
	display: inline-block;
	position: absolute;top: 0;
	bottom: 0;
	right: 8px;
	height: 26px;
	margin: auto;
	right: 8px; /* When aligned to right */;
	list-style-type: none;
}
.action__list li {
	margin-left: 8px;
}
.action-btn {
	color: #616C7D;
	display: inline-block;
	border: 1px solid #BCC6D5;
	border-radius: 100px;
	width: 25px;
	height: 25px;
	text-align: center;
	opacity: 1;
	position: relative;
	transition: .2s ease-out all;
	background-color: #fff;
}
.action__history {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 8px;
	font-size: 14px;
}
.action__history i {
	padding: 4px 2px;
	font-size: 14px;
}
.action-btn:hover i {
	color: #fff;
}
.action-btn.action-normal:hover i {
	color: #616C7D;
}
.action-btn:hover {
	opacity: 1;
}
.action__play {
	margin-left: 4px;
	margin-top: -2px;
	position: absolute;
	padding-top: .5px;
}
.action__cart i, .action__collection i, .action__delete i, .action__share i, .action__download i, .action__logger i, .action__collpaseL i {
	font-size: 13px;
	top: -1px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 13px;
}
.action__workorder i, .action__cart i {
	font-size: 14px!important;
	height: 14px;
}
.action__workorder i {
	position: absolute;
	margin-top: 5px;
	margin-left: -7px;
}
.action__play i {
	font-size: 12px;
	margin-left: 3px;
	padding-top: 5px;
	display: inline-block;
}
.action__cart:hover {
	background-color: #F89C38;
	border-color: #F89C38;
}
.action__collection:hover {
	background-color: #3498db;
	border-color: #3498db;
}
.action__workorder:hover {
	background-color: #6ad2eb;
	border-color: #6ad2eb;
}
.action__delete:hover {
	background-color: #e74c3c;
	border-color: #e74c3c;
}
.action__logger:hover {
	background-color: #8F55B6;
	border: 1px solid #6818BF;
	color: white;
}
.action__download:hover {
	background-color: #3A5795;
	border-color: #3A5795;
	color: #ffffff;
}
.action__share:hover {
	background-color: #aad178;
	border-color: #7db831;
	color: #ffffff;
}
.action__collpaseL:hover i {
	color: #333333;
}
/* <-- endOf action bar */
/* --> Content Details */
content-title {
	display: block;
	margin-bottom: 8px;
}
/* <-- endOf Content Details */
/* --> Status Colors */
.vms-link {
	color: #2DB4E7;
}
.vms-status {
	border-radius: 2px;
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	padding: 6px 8px;
	letter-spacing: .5px;
	margin-top: 1px;
	display: inline-block;
}
.vms-status.completed {
	background-color: #7CB77B;
}
.vms-status.in {
	border: 1px solid #DDE3E9;
	color: #333A44;
	background-color: #F9FAFC;
	font-weight: bold;
}
.vms-status.failed {
	background-color: #E74C3C;
}
[class^="waiting"], .waiting {
	background-color: #F5A363;
}
.ui-g {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.ui-inputgroup {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
/* <-- Status Colors */
/*  Overrides -->  */
.ui-g-6 {
	width: 50%;
}
.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
	float: left;
	box-sizing: border-box;
	padding: 4px;
}

.card {
	border: 1px solid #d2dce6;
}

.mat-ink-bar {
	height: 3px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: #1bbae1!important;
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(130, 130, 130, 0.26)!important;
}
.mat-checkbox-inner-container {
	height: 14px !important;
	width: 14px !important;
}

.mat-checkbox-frame {
	border-width: 1px !important;
	border-color: #acadae;
}

.panel {
	border: 1px solid #D2DCE6;
	background-color: #FFFFFF;
	height: 100%;
}
.panel__header {
	height: 48px;
	border-bottom: 1px solid #D2DCE6;
	background-color: #F9FAFC;
	color: #333A44;
	font-size: 16px;
	font-weight: 500;
	padding: 8px 16px;
	position: relative;
	margin: 0;
	padding: 14px 16px;
	line-height: 1.2;
	letter-spacing: .2px;
}
.panel__body {
	height: 75%!important;
}

.mat-checkbox-checkmark-path {
	stroke-dashoffset: 22.91026;
	stroke-dasharray: 22.91026;
	stroke-width: 4.66667px!important;
}

.date, .time {
    display: block;
    font-size: 14px;
}
.vms-accordion__body{
	padding:8px;
}

/*tab related classess*/
.mat-tab-body-wrapper {
	background-color: #fff;
    height:100%;
   
}

.mat-tab-body.mat-tab-body-active{
    background:#ffffff;
     z-index: 9!important;
}
.mat-tab-label, .mat-tab-link {
	color: #333A44;	font-size: 16px!important;	font-weight: 500!important;	line-height: 19px;
}
.mat-tab-group {
	height: 100%;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background-color: #1bbae1!important;
}
.mat-tab-label {
	transition: .2s ease-in all;
	min-width: initial !important;
	padding:0 16px!important;
}
.mat-tab-label.mat-tab-label-active, .mat-tab-label:hover {
	opacity: 1;
}
.mat-tab-label-container {
	background: #f9fafc;
}
.mat-tab-label .mat-button {
    min-width: 25px;
    line-height: 36px;
    padding: 0 4px;
    margin-top: -4px;
}
/*accordion related classess*/
.mat-expansion-panel-header {
	padding: 0 12px !important;
	height: 40px!important;
	text-decoration: none;
	background-color: #f9fafc !important;
	position: relative !important;
	border: none;
    border-bottom: 1px solid #d1dce6;
}
div.mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}

.mat-expansion-indicator {
	position: absolute;
	left: 8px;
	
}
.mat-expansion-indicator::after {	
    content:"\F0D7"!important;
	border:0!important;
	font-family: 'FontAwesome';
    -webkit-transform: unset!important;
    transform: unset!important;
    
}
.mat-expanded .mat-expansion-indicator::after {	
    content:"\F0DA"!important;
	border:0!important;
	font-family: 'FontAwesome';
    -webkit-transform: unset!important;
    transform: unset!important;
    
}
.mat-expanded .mat-expansion-indicator {
	
	-webkit-transform: unset!important;
    transform: unset!important;
}
.mat-expansion-panel-header .mat-content {
	padding-left: 16px;
	font-size: 14px;
}
.mat-expansion-panel-spacing {
    margin: 0!important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: unset!important;
}
.mat-expansion-panel-body{
	margin:0!important;
}
/*dropdown menu*/
.cdk-overlay-pane{
	top: 80px!important;
}
.mat-menu-content {
    padding-top: 4px!important;
    padding-bottom: 4px!important;
}
.mat-menu-item {
    height:25px!important;
    line-height:25px!important;
}
.mat-chip-list-wrapper{
	padding:8px;

}
.blue-chip{
	background:#1bbae1!important;
	color:#ffffff!important;
	border-radius:3px!important;
	padding: 4px 8px!important;
	font-size: 14px;
}