/* You can add global styles to this file, and also import other style files */
/* --> Helper Clasess are prefixed by 'h-' */
html {
	font-family: 'Roboto', sans-serif;
	background-color: #EAEDF1;
	overflow: hidden;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
	clear: both;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, app-root, .h-full-height {
	position: relative;
	display: block;
	height: 100%;
}
.h-preview__thumbnail {
	display: block;
	width: 100px;
	height: 57px;
	border: 1px solid grey;
	border-radius: 3px;
}
.h-preview__thumbnail img {
	width: 100%;
	height: 100%;
	display: block;
}
content-view {
	display: block;
	height: 100%;
	padding: 8px 16px;
}
/* <-- EndOf Helper Classes */
/* --> Splitter changes */
.h-outer {
	height: calc(100% - 36px);
}
material-details > horizontal-split-pane {
	padding: 16px;
}
horizontal-split-separator, .v-outer vertical-split-separator {
	background-color: rgba(0, 0, 0, 0)!important;
	border-left: none;
	cursor: ew-resize;
	position: relative;
}
horizontal-split-separator .handle, .v-outer vertical-split-separator .handle {
	width: 4px!important;
	height: 35px!important;
	background-color: rgba(90,107,130,.3)!important;
	position: absolute;
	top: calc(50% - 18px);
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 5px;
}
.h-outer horizontal-split-separator:hover, .v-outer vertical-split-separator:hover {
    background-color: rgb(225, 229, 234);
}
.h-outer horizontal-split-separator {
    cursor: ns-resize;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.h-outer horizontal-split-separator .handle {
    transform: rotate(90deg);
}
/* <-- endOf Splitter changes */




.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: #1bbae1!important;
}
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(130, 130, 130, 0.26)!important;
}
.mat-checkbox-inner-container {
	height: 14px !important;
	width: 14px !important;
}

.mat-checkbox-frame {
	border-width: 1px !important;
	border-color: #acadae;
}

.mat-checkbox-checkmark-path {
	stroke-dashoffset: 22.91026;
	stroke-dasharray: 22.91026;
	stroke-width: 4.66667px!important;
}

.date, .time {
    display: block;
    font-size: 14px;
}
.vms-accordion__body{
	padding:8px;
}

/*tab related classess*/
.mat-tab-body-wrapper {
	background-color: #fff;
    height:100%;
   
}

.mat-tab-body.mat-tab-body-active{
    background:#ffffff;
     z-index: 9!important;
}
.mat-tab-label, .mat-tab-link {
	color: #333A44;	font-size: 16px!important;	font-weight: 500!important;	line-height: 19px;
}
.mat-tab-group {
	height: 100%;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background-color: #1bbae1!important;
}
.mat-tab-label {
	transition: .2s ease-in all;
	min-width: initial !important;
	padding:0 16px!important;
}
.mat-tab-label.mat-tab-label-active, .mat-tab-label:hover {
	opacity: 1;
}
.mat-tab-label-container {
	background: #f9fafc;
}
.mat-tab-label .mat-button {
    min-width: 25px;
    line-height: 36px;
    padding: 0 4px;
    margin-top: -4px;
}
/*accordion related classess*/
.mat-expansion-panel-header {
	padding: 0 12px !important;
	height: 40px!important;
	text-decoration: none;
	background-color: #f9fafc !important;
	position: relative !important;
	border: none;
    border-bottom: 1px solid #d1dce6;
}
div.mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}

.mat-expansion-indicator {
	position: absolute;
	left: 8px;
	
}
.mat-expansion-indicator::after {	
    content:"\F0D7"!important;
	border:0!important;
	font-family: 'FontAwesome';
    -webkit-transform: unset!important;
    transform: unset!important;
    
}
.mat-expanded .mat-expansion-indicator::after {	
    content:"\F0DA"!important;
	border:0!important;
	font-family: 'FontAwesome';
    -webkit-transform: unset!important;
    transform: unset!important;
    
}
.mat-expanded .mat-expansion-indicator {
	
	-webkit-transform: unset!important;
    transform: unset!important;
}
.mat-expansion-panel-header .mat-content {
	padding-left: 16px;
	font-size: 14px;
}
.mat-expansion-panel-spacing {
    margin: 0!important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: unset!important;
}
.mat-expansion-panel-body{
	margin:0!important;
}
/*dropdown menu*/

.mat-menu-content {
    padding-top: 4px!important;
    padding-bottom: 4px!important;
}
.mat-menu-item {
    height:25px!important;
    line-height:25px!important;
}
.mat-chip-list-wrapper{
	padding:8px;

}
.mat-menu-panel {
    background: #fff;
    margin-top: 45px;
    margin-left: -80px;
}
.blue-chip{
	background:#1bbae1!important;
	color:#ffffff!important;
	border-radius:3px!important;
	padding: 4px 8px!important;
	font-size: 14px;
}
.mat-slide-toggle{
	margin-top:6px;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #1bbae1!important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #1bbae1!important;
}
/* select related classes*/
.mat-select{
	
	border: 1px solid #D2DCE6;
	border-radius: 2px;
	background-color: #FFFFFF;
	padding: 4px;
}
.mat-select-arrow {    
    color: #BCC6D5!important;
}
.mat-select-value {
    
    line-height: 20px;
}
.mat-select-value-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #132841;
	font-size: 14px;
}