
<div class="ui-g">

    <div class="ui-g-12" *ngIf="toggle">
        <div class="ui-inputgroup field__single input-with-icon">           
           <input class="field__value--editable" type="text" matInput placeholder="Add Keywords">
        </div>
        <div  class="input-action-icon"><a class="action-btn action__collection" href="javascript:;"><i class="fa fa-plus"></i></a> </div>
    </div>
    
</div>
<mat-chip-list>
  <mat-chip class="blue-chip">One fish</mat-chip>
  <mat-chip class="blue-chip">Two fish</mat-chip>
  <mat-chip class="blue-chip">Primary fish</mat-chip>
  <mat-chip class="blue-chip" >Accent fish</mat-chip>
</mat-chip-list>